body {
  font-family: "Source Sans Pro", sans-serif;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/038/176/original/pexels-photo-6389394.jpeg?1655930626");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
h4,
h5 {
  font-weight: unset;
  font-size: 20px;
}
h5 {
  margin-bottom: 25px;
  padding-left: 15px;
}
h6 {
  font-weight: unset;
  font-size: 15px;
  margin: 0;
  margin-bottom: 15px;
}
ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
.app {
  margin: 60px auto;
  max-width: 800px;
}
.form-group {
  margin-bottom: unset;
  flex-grow: 3;
}
.form-control {
  width: 75%;
  background-color: #e6f7f7;
}
.current-button {
  line-height: 1.55;
  padding: 0.375rem 1.2rem;
  position: relative;
  left: -75px;
}
.main-output {
  height: 180px;
}
.info {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  padding: 30px 0;
}
.city {
  border-right: 1px solid blue;
  font-size: 40px;
  position: relative;
  height: 50px;
}
.icon {
  font-size: 35px;
  position: relative;
  height: 50px;
}
.summary {
  position: relative;
  bottom: 120px;
  left: 90px;
}
.condition,
.temperature {
  font-size: 30px;
  list-style: none;
}
.celsius-fahrenheit {
  font-size: 10px;
  position: relative;
  bottom: 8px;
}
.forecast {
  border-radius: 5px;
}
.comming-days-forecast {
  padding-left: 15px;
  list-style-type: none;
}
.today {
  position: relative;
  bottom: 235px;
  height: 235px;
}
.min-max,
.humidity-wind {
  padding-left: 15px;
  font-size: 13px;
  margin: 0;
}
.link {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  width: 40rem;
}
.image {
  position: relative;
  bottom: 25px;
}
.day-interval-forecast {
  text-align: center;
  margin-top: 13px;
}
.day-interval {
  padding-left: 0;
  padding-right: 0;
}
.interval-temperature {
  font-size: 25px;
}
.days-forecast {
  font-size: 20px;
}
.forecast-temp {
  margin-bottom: 10px;
  font-size: 16px;
}
.forecast-max-temp {
  font-weight: 600;
}
.forecast-min-temp {
  opacity: 0.8;
}
.over-the-day-temperature {
  font-size: 16px;
}
.weather {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
  background-color: #fffde1;
}
footer {
  font-size: 14px;
  margin-top: 40px;
  line-height: 18px;
  text-align: center;
  border-top: 1px solid black;
}
.search-form {
  display: flex;
  flex: 2 1 auto;
  padding-bottom: 30px;
}
@media (max-width: 430px) {
  .search-form {
    flex-direction: column;
    flex: 0 0 auto;
    padding-bottom: 5px;
  }
  .current-button {
    line-height: 1.55;
    padding: 10px 65px;
    position: relative;
    left: 5px;
  }
  .form-control {
    width: 105%;
    margin-bottom: 10px;
  }
  .info {
    padding-top: unset;
  }
  .city {
    border-right: none;
    margin-bottom: 10px;
  }
  .condition,
  .temperature {
    font-size: 25px;
    position: relative;
    top: 10px;
  }
  .icon {
    right: 20px;
  }
  .comming-days-forecast {
    position: relative;
    top: 32px;
  }
  .day-interval-forecast {
    margin-top: unset;
  }
}
